.jumbotron {
    background-color: palegoldenrod;
}

.navbar {
background-color:darkgoldenrod;
}


.pending{
    color:darkgoldenrod;
}

.approved{
    color:rgb(4, 177, 90) ;
}

.rejected{
    color: crimson;
}

body{
    background-color:cornsilk ;
}

.nav.navbar-nav.navbar-right li a {
    color: cornsilk;
}

.btn.btn-primary{
    background-color: darkgoldenrod;
}
td a {
    display:block;
    width:100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    background-color:rgba(184, 135, 11, 0.488);
}