.jumbotron {
    background-color: palegoldenrod;
}

.navbar {
background-color:darkgoldenrod;
}


.pending{
    color:darkkhaki;
}

.approved{
    color: aquamarine;
}

.rejected{
    color: crimson;
}

body{
    background-color:cornsilk ;
}

