.jumbotron {
    background-color: palegoldenrod;
}

.navbar {
background-color:darkgoldenrod;
z-index: 3;
}


.pending{
    color:darkgoldenrod;
}

.approved{
    color:rgb(4, 177, 90) ;
}

.rejected{
    color: crimson;
}

body{
    background-color:cornsilk ;
}

.nav.navbar-nav.navbar-right li a {
    color: cornsilk;
}

.btn.btn-primary{
    background-color: darkgoldenrod;
}
td a {
    display:block;
    width:100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    background-color:rgba(184, 135, 11, 0.488);
}

.headText{
    text-align: center
}


.bannerInner{
    animation-delay: bannerDrop 4s;
    animation: bannerDrop 3s;
    animation-fill-mode: forwards;
}
.bannerOuter{
    animation: bannerDrop 4s;
    animation-fill-mode: forwards;
}

.logoFade{
    animation: logoFade ease 1s;
}


@keyframes bannerDrop {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 
    50% {
        transform: translate(0px, 1000px);
        animation-timing-function:ease-in-out
    }
 
    100% {
        transform: translate(0px, 1000px);
        animation-timing-function:ease-in-out
    }
 }

 @keyframes logoFade {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  


    